<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %} "> {% endcomment %}
</head>

<body>
  <div class="container">
    <div class="layer">
      <div class="login-box">
        <h1>Login</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button>Login</button>
        </form>
      </div>
    </div>
    
  </div>
</body>

</html>