{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %} ">
</head>

<body>
  <div class="container">
    <div class="layer">
      <div class="login-box">
        <h1>Login</h1>
        <form method="post" action="">
          {% csrf_token %}
            <div class="textbox">
              <i class="fas fa-envelope"></i>
              {{ form.email }}
            </div>

            <div class="textbox">
              <i class="fas fa-lock"></i>
              {{ form.password }}
            </div>


            <input type="submit" class="btn" value="Sign in">
            <a href="{% url 'registraion' %}" class="btn" style="width:95%;text-align:center;"> Sign Up</a>
        </form>
      </div>
    </div>

  </div>
</body>

</html>
