{% extends "admin/base.html" %}
{% block title %} Admin {% endblock %}
{% block content %}
<!-- end of cards -->



<div class="row pt-md-5 mt-md-3 mb-5">

<div class="col-xl-3 col-sm-6 p-2">
  <div class="card card-common">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <i class="fas fa-calendar-alt fa-3x text-warning"></i>
        <div class="text-right text-secondary">
          <h5>Running Events</h5>
          <h3>03</h3>
        </div>
      </div>
    </div>
    <div class="card-footer text-secondary">
      <i class="fas fa-sync mr-3"></i>
      <span>Updated Now</span>
    </div>
  </div>
</div>

<div class="col-xl-3 col-sm-6 p-2">
  <div class="card card-common">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <i class="fas fa-calendar-alt fa-3x text-info"></i>
        <div class="text-right text-secondary">
          <h5>Past Events</h5>
          <h3>101</h3>
        </div>
      </div>
    </div>
    <div class="card-footer text-secondary">
      <i class="fas fa-sync mr-3"></i>
      <span>Updated Now</span>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 p-2">
  <div class="card card-common">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <i class="fas fa-sitemap fa-3x text-success"></i>
        <div class="text-right text-secondary">
          <h5>Clubs</h5>
          <h3>28</h3>
        </div>
      </div>
    </div>
    <div class="card-footer text-secondary">
      <i class="fas fa-sync mr-3"></i>
      <span>Updated Now</span>
    </div>
  </div>
</div>
<div class="col-xl-3 col-sm-6 p-2">
  <div class="card card-common">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <i class="fas fa-chart-line fa-3x text-danger"></i>
        <div class="text-right text-secondary">
          <h5>Visitors</h5>
          <h3>45,000</h3>
        </div>
      </div>
    </div>
    <div class="card-footer text-secondary">
      <i class="fas fa-sync mr-3"></i>
      <span>Updated Now</span>
    </div>
  </div>
</div>
</div>
  {% endblock %}
