<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
      integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" href="{% static 'css/user_style.css' %}">
    <title>Home</title>
    <style media="screen">
      .section_title {
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
        background: transparent;
        color: rgba(28,67,112,0.8);
      }
      .event_link {
        border-bottom: 2px red;
      }
      .event_link:hover{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="top_header_bg">
      <div class="container ">
          <div class="row no-gutters">
            <div class="col-lg-4 text-center text-lg-left">
              <a class="text-color mr-3" href="callto: 09666775577" style="font-size: 22px;"><strong>CALL</strong> 09666775577</a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
              <ul class="list-inline mb-0">
                {% if user.is_authenticated %}
                <li class="list-inline-item"><a class="text-uppercase text-light p-sm-2 py-2 px-0 d-inline-block" href="{% url 'logout' %}">logout</a></li>
                {% else %}
                <li class="list-inline-item"><a class="text-uppercase text-light p-sm-2 py-2 px-0 d-inline-block" href="{% url 'login' %}">login</a></li>
                <li class="list-inline-item"><a class="text-uppercase text-light p-sm-2 py-2 px-0 d-inline-block" href="{% url 'registraion' %}">register</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
      </div>
    </div>

    <div class="">
      <div class="container p-0 navbar_container">
        <nav class="navbar navbar-expand-lg p-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse row no-gutters" id="navbarSupportedContent">
            <div class="col-lg-4">
              <img src="{% static 'images/logo.png' %}" alt="" class="logo">
            </div>
            <div class="col-lg-8 d-flex">
              <ul class="navbar-nav ml-auto mb-auto mr-3">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'event_all' %}">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% if newssingle %}{% url 'newssingle' news_first.newstitle %} {% else %} # {% endif %}">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% if newssingle %}{% url 'newssingle' news_first.newstitle %} {% else %} # {% endif %}">Notices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'all_clubs_user' %}">Clubs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'calendar' %}">Academic Calendar</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <section class="page_title_bg overlay">
      <div class="container page_title_container">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-inline custom-breadcrumb">
              <li class="list-inline-item"><a class="h2 page_title_name" href="#">{{club.clubname}}</a></li>
              <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
            </ul>
            <p class="text-lighten">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-3">
      <div class="container">
        <div class="row no-gutters justify-content-end">
          <a href="{% url 'member_req' club.clubname %}" class="btn btn-info mx-2">Become a member</a>
          <a href="{% url 'club_single_user' club.clubname  %}" class="btn btn-light mx-2">Club Home</a>
          <a href="{% url 'club_ec_user' club.clubname %}" class="btn btn-light mx-2">Executive Commitee</a>
          <a href="{% url 'gallery' club.clubname %}" class="btn btn-light mx-2">Gallery</a>
        </div>
        <div class="row no-gutters">
          <div class="col-md-8 pr-3 ">
            <h3 class="section_title">WELCOME TO </br> {{club.clubname}}</h3>
            <p class="text-justify">{{club.description}}</p>
            <a href="{% url 'member_req' club.clubname %}" class="btn btn-primary">Become a member</a>
          </div>
          <div class="col-md-4 pl-3">

            <h3 class="section_title">RECENT EVENTS</h3>
            {% for event in events %}
            <div class="mx-3">
              <a href="{% url 'eventsingleuser' event.eventname %} " class="border-bottom bg-light mb-2 p-2 text-primary text-center d-block event_link" style="font-weight: 900;">{{ event.eventname }}</a>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>





    <script src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

    <script type="text/javascript">
    </script>

  </body>
</html>
