{% extends "club/base.html" %}
{% block content %}
<style media="screen">
  .error {
    color: red;
  }
  .success {
    color: green;
  }

  .vertical_center{
    display: flex;
    align-items: center;
    vertical-align:middle;

  }
</style>
  <section>

          <div class="row pt-md-5 mt-md-3 mb-5 ml-3 ">
            {% if messages %}
            <ul class="messages col-md-6 offset-3" >
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">ID</th>
                  <th scope="col">Semister</th>
                  <th scope="col">Credit</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                <tr scope="row">
                  <td>{{ forloop.counter }}</td>
                  <td>{{member.name}}</td>
                  <td>{{member.std_id}}</td>
                  <td>{{member.semister}}</td>
                  <td>{{member.completed_credit}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.phone_number}}</td>

                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

  </section>

{% endblock %}

{% block js_script %}
<script type="text/javascript">
;
  });


</script>
{% endblock %}
