{% extends "club/base.html" %}
{% block content %}
<style media="screen">
  .error {
    color: red;
  }
  .success {
    color: green;
  }

  .vertical_center{
    display: flex;
    align-items: center;
    vertical-align:middle;

  }
</style>
  <section>

          <div class="row pt-md-5 mt-md-3 mb-5 ml-3 ">
            {% if messages %}
            <ul class="messages col-md-6 offset-3" >
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">ID</th>
                  <th scope="col">Semister</th>
                  <th scope="col">Credit</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members %}
                <tr scope="row">
                  <td>{{ forloop.counter }}</td>
                  <td>{{member.name}}</td>
                  <td>{{member.std_id}}</td>
                  <td>{{member.semister}}</td>
                  <td>{{member.completed_credit}}</td>
                  <td>{{member.email}}</td>
                  <td>{{member.phone_number}}</td>
                  <td>
                    <span class="btn btn-success approve_req" style="font-weight: bolder;" data_id_of_club="{{club.id}}" data_id_of_member="{{member.id}}">Approve</span><br>
                    <span class="btn btn-danger remove_req my-1" style="font-weight: bolder;" data_id_of_club="{{club.id}}" data_id_of_member="{{member.id}}">Remove</span><br>
                  </td>


                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

  </section>

{% endblock %}

{% block js_script %}
<script type="text/javascript">
  //enable a club
  $(".approve_req").click(function(){
    var clubid = $(this).attr("data_id_of_club");
    var memid = $(this).attr("data_id_of_member");

    $.ajax({
      url: '/ajax/approve_member_request/',
      data: {
        'clubid': clubid,
        'memid' : memid
      },
      dataType: 'json',
      success: function (data) {
        if (data.check ) {
          location.reload(true);
          // alert(data.abcd);
        }
      }
    });
  });

  $(".remove_req").click(function(){
    var clubid = $(this).attr("data_id_of_club");
    var memid = $(this).attr("data_id_of_member");

    $.ajax({
      url: '/ajax/remove_member_request/',
      data: {
        'clubid': clubid,
        'memid' : memid
      },
      dataType: 'json',
      success: function (data) {
        if (data.check ) {
          location.reload(true);
          // alert(data.abcd);
        }
      }
    });
  });


</script>
{% endblock %}
